

$primary-color: #8CB496;
$accent-color: #872d83;
$text-color: #fff;
$headline-fonts: 'Poppins', sans-serif;
$secondary-font: 'Manjari', sans-serif;
$bg-color: #FFFDD1;


$font-weights: (
    "thin": 100,
    "regular":400,
    "medium": 500,
    "bold": 700,
);


$mobile: 800px;

